zig-cache/
.zig-cache/
zig-out/
*.o
*.a
*.tar.xz
zig-linux-x86_64-*/
d.patch
.d.patch.swp
main_tap_libev
example_tap_libev
example_af_packet
example_af_packet_libev
example_af_xdp_libev
example_af_xdp_libuv
test_cimport.zig
test_ev_only.zig
test_if_only.zig
test_tun_only.zig
test_writev.zig
